@layer base {
  * {
    @apply box-border;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }

  body {
    @apply font-cleric-sans text-base text-gray-800 bg-white;
    -webkit-font-smoothing: antialiased;
  }
}