/* Headings - Base styles */
@layer base {
  h1, h2, h3, h4 {
    font-weight: 400;
    font-style: normal;
    font-family: var(--font-gt-alpina);
  }

  h1, h2 {
    line-height: 1.15;
  }

  h3, h4 {
    line-height: 1.2;
    letter-spacing: 0;
  }

  /* Mobile (default) */
  h1 {
    font-size: 40px;
    letter-spacing: -0.015em; /* -1.5% */
    text-transform: capitalize;
  }

  h2 {
    font-size: 36px;
    letter-spacing: -0.005em; /* -0.5% */
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  /* Tablet (768px) */
  @media (width >= theme(--breakpoint-tablet)) {
    h1 {
      font-size: 56px;
      letter-spacing: -0.02em; /* -2% */
    }

    h2 {
      font-size: 44px;
    }

    h3 {
      font-size: 36px;
    }

    h4 {
      font-size: 28px;
    }
  }

  /* Desktop (992px) */
  @media (width >= theme(--breakpoint-desktop)) {
    h1 {
      font-size: 72px;
      letter-spacing: -0.025em; /* -2.5% */
    }

    h2 {
      font-size: 48px;
    }

    h3 {
      font-size: 40px;
    }

    h4 {
      font-size: 30px;
    }
  }

  .text-subtitle {
    @apply text-lg tablet:text-xl desktop:text-2xl;
    @apply leading-tight;
  }
}
